VMID,Hostname,Node,ISO,Cores,Memory,Disk,Format,BIOS
{{ vm_summary.VMID }},{{ vm_summary.Hostname }},{{ vm_summary.Node }},{{ vm_summary.ISO }},{{ vm_summary.Cores }},{{ vm_summary.Memory }},{{ vm_summary.Disk }},{{ vm_summary.Format }},{{ vm_summary.BIOS }}
